// Top Navbar
.navbar-dark {
  background-color: #2FC6FF;
}

// Sidebar
.spire-sidebar {
  position: fixed;
  min-width: 250px;
  padding-top: 2rem;
  max-height: calc(100vh - 4rem);
  border-right: 1px solid rgba(0,0,0,.125);
  z-index: 1000;

  .spire-links {
    max-height: calc(100vh - 9rem);
    overflow-y: auto;

    .spire-link {
      text-decoration: none;
      display: block;
      padding: .25rem .5rem;
    }
  }
}

.spire-sub-link {
  font-size: .75rem;
}

// Main Content
.spire-main {
  padding-top: 1rem;
  width: 750px;
  margin-left: 250px;

  h2 {
    margin-top: 2rem;
  }
}

// Code Snippets
.highlight {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f7f7f9;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
}

// Footer
.footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 25px;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
